@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&family=Poppins:wght@100;200;300;400;700&family=Spline+Sans:wght@200;300;400&family=Supermercado+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
user-color-> white and voilet
bg-color -> black and white
*/
body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Spline Sans", sans-serif;
  /* font-family: "Supermercado One", cursive; */

  /* color: #3d2aac; */
  /* color: white; */
  /* background-color: rgb(22, 22, 22); */
}
.mainApp {
}
.container {
  padding: 20px;
  font-size: 72px;
  background: -webkit-linear-gradient(
    rgb(38, 41, 38),
    rgb(255, 254, 254),
    rgb(190, 177, 238),
    rgb(44, 201, 161)
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.container h1 {
  font-size: 30px;
  word-spacing: 5px;
  text-align: center;
  text-transform: capitalize;
}
/* message container */

.message_container {
  padding: 10px;
  width: 100%;
  height: calc(100vh - 190px);
  background-color: rgb(9, 10, 14);
  /* border: 1px solid red; */
  overflow-y: auto;
}

.left {
  margin-top: 20px;
  border: 1px solid #992a2a;
  width: 40%;
  float: left;
  clear: both;
}
.right {
  /* border: 1px solid #992a2a; */
  width: auto;
  width: 40%;
  float: right;
  position: relative;
}
.mess {
  position: relative;
  top: 0;
  left: 0;
  border-radius: 5px;
  background-color: #141313;
  color: #ece8e8;
  border: 1px solid #241d1d;
  margin-top: 10px;
  padding: 10px;
  font-size: 13px;
  word-spacing: 2px;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.mess > p {
  width: 100%;
}
/* ql-editor */
.ql-editor {
  border: none;
  color: white;
}
.ql-snow.ql-toolbar button,
.ql-snow .ql-toolbar button {
  color: rgb(247, 240, 240) !important;
  width: 25px;
  height: 25px;
}
.ql-toolbar.ql-snow {
  border-top: 2px solid rgb(59, 52, 52) !important;
}
.ql-container.ql-snow {
  border-top: 2px solid rgb(109, 74, 74) !important;
}
.ql-editor > p {
  font-size: 17px;
  color: black !important;
}
#editor {
  background-color: rgb(173, 168, 168);
}
/* end */

/* form container */
.form {
  background-color: rgb(15, 15, 15);
}
.icons_text {
  padding: 10px;
  display: flex;
}
.icons {
  margin-right: 1.5em;
  padding: 5px;
}

i {
  font-size: 13px;
  cursor: pointer;
  color: rgb(190, 190, 190) !important;
}
.icons:hover {
  background-color: rgb(51, 48, 48);
  border-radius: 40%;
}
.text_message {
  background-color: black !important;
  width: 100%;
  height: 5em;
}
.text_message input {
  width: 100%;
  color: rgb(180, 173, 173);
  padding: 10px;
  font-size: 15px;
  outline: none;
  border: none;
  background-color: black !important;
}

.set_image {
  padding: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}
.image_send_icons {
  flex: 3;

  display: flex;
}

.sendBtn {
  position: relative;
  top: 0;
  flex: 1;
  /* margin-bottom: 20px; */
}
.sendBtn .btn {
  position: fixed;
  z-index: 10;
  right: 20px;
  bottom: 20px;
  width: 10%;
  border: none !important;
  outline: none !important;
  border-radius: 3px;
  cursor: pointer;
  background-color: green;
  padding: 10px;
}
